/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--main-font-weight, 400);

  background-color: var(--bg-color, #fff);
  color: var(--accent-color, #000);

  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;

  min-inline-size: 375px;
  min-block-size: 100dvb;

  display: grid;
  justify-content: center;
}

.header {
  padding-block-end: 25px;
  margin-block-start: 100px;

  font-family: var(--accent-font, sans-serif);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header_logo {
  margin-block-start: clamp(7.5em, 7.1479em + 1.5023vw, 8.5em);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header_title {
  font-size: clamp(3.0625em, 2.7104em + 1.5023vw, 4.0625em);
  line-height: 100%;
  font-weight: inherit;
  text-decoration: none;
}

.header_sub_title {
  font-size: clamp(0.875em, 0.6769em + 0.8451vw, 1.4375em);
  line-height: 100%;
  font-weight: inherit;
  text-transform: uppercase;
}

.content {
  background: var(--bg-color, #fff);
  border: 2px solid var(--accent-color);
  inline-size: var(--content-inline-size);
}

.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: start;
  padding-inline-start: 18px;
}

.theme-menu__item {
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding-block: 0px;
  padding-inline: 0px;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  opacity: 0.6;
  background-color: var(--accent-color, #000);

  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: left;

  inset-inline-start: 0;
  inset-block-end: -2px;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inline-size: 16px;
  block-size: 13px;
  inset-block-start: 0;
  inset-inline-start: -20px;

  animation: arrow 0.5s ease-in-out infinite;
  animation-direction: alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.main {
  padding-block-start: 100px;
}

.card_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: inherit;
  font-variation-settings: "wght" var(--accent-font-weight, 700);
  padding-inline: 10px;
  padding-block: 5px;
  border-bottom: 2px solid var(--accent-color);
}

.card-image_wrapper {
  position: relative;
}

.card-image__label {
  position: absolute;
  text-align: end;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 14px;
  color: var(--accent-color, #000);

  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;

  margin-block-start: 60px;
  inset-inline-end: 10px;

  text-shadow:
    -1px 0 var(--stroke-color, #FFF),
    0 1px var(--stroke-color, #FFF),
    1px 0 var(--stroke-color, #FFF),
    0 -1px var(--stroke-color, #FFF);
}

@supports((text-stroke: 1px var(--stroke-color, #FFF)) or (-webkit-text-stroke: 1px var(--stroke-color, #FFF))) {
  .card-image__label {
    -webkit-text-stroke: 1px var(--stroke-color, #FFF);
    text-stroke: 1px var(--stroke-color, #FFF);
    text-shadow: none;
  }
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  border-bottom: 2px solid var(--accent-color);
  max-block-size: 696px;
}

.card__content {
  display: grid;
  gap: 27px;
  padding-block: 23px;
  padding-inline: 25px;
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer {
  padding-block-start: 50px;
  padding-block-end: 100px;
  display: flex;
  justify-content: center;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px var(--accent-color, #000);
}

.button {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color, #fff);
  color: var(--btn-text-color, #FFF);
  position: relative;
  transition: box-shadow 0.3s;
}

.button__text {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  position: relative;

  mix-blend-mode: difference;
}

.button::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color, #000);

  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.save__button {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 15px;
}

.save__button_img {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.card__like {
  justify-self: end;
  display: grid;
  grid-template-columns: auto 130px;
  gap: 6px;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.card__icon-button {
  padding: 0px;
  border: none;
  background-color: var(--bg-color, #fff);
}

.card__icon-button,
card__like-button {
  font-size: 14px;
  line-height: 90%;
}

.card__icon-button:focus-visible {
  outline: none;
}

.sparks {
  opacity: 0;
}

.dialog {
  position: fixed;
  inset: 0;
  padding-block: 26px;
  padding-inline: 30px;
  inline-size: clamp(21.3125em, 21.0484em + 1.1268vw, 22.0625em);
  background: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  color: var(--accent-color);

  transition: opacity 0.3s ease-in-out;
}

.dialog__content {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  font-family: var(--accent-font, sans-serif);
}

.dialog__button_img {
  position: relative;
  z-index: 1;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__form {
  inline-size: 100%;
}

.dialog__button {
  inline-size: 100%;
  padding-block: 9px;
  padding-inline: 17px;
  text-transform: uppercase;
  cursor: pointer;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.filter-blur {
  filter: blur(3px);
}

.filter-hue-rotate {
  filter: hue-rotate(0.7turn);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-sepia {
  filter: sepia(0.5);
}

.filter-brightness-saturate {
  filter: brightness(2) saturate(50%);
}

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-opacity {
  filter: opacity(40%);
}

.filter-saturate-drop-shadow {
  filter: saturate(450%) drop-shadow(2px 4px 6px var(--accent-color, #000));
}

@media (width <=375px) {
  :root {
    --content-inline-size: 100vw;
  }

  .footer {
    padding-block-start: 41px;
  }

  .save__button {
    flex-direction: column;
  }

  .save__button_img {
    inline-size: 28px;
    block-size: 28px;
  }

  .card-image__label {
    margin-block-start: 25px;
  }

  .dialog {
    padding-inline: 40px;
  }
}