/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: Inter;
    --accent-font: "PressStart2P";
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --bg-color: #fff;
    --accent-color: #000;
    --bg-image: url(../svg/pattern-light.svg);
    --heart-color: #FF0000;
    --border-wdth: 2px;
    --border: var(--border-wdth, 2px) solid var(--accent-color, #000);
    --content-inline-size: clamp(23.188rem, 15.756rem + 31.71vw, 43.5rem);
    --sparks-color: #FF0000;
  }